.home{
    width: 95%;
    margin: 1rem auto;
}
.carPrinci{
    width: 95%;
    margin: 1rem auto;
}
.cardP{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;

}
.slide{
    width: 20%;
    height: 20%;
    margin-left: 2rem;
}


@media(max-width: 450px){
    .home{
        width: 70%;
    }
}

@media(max-width: 770px){
    .home{
        width: 90%;
    }
}